<% if player.picture_url %>
  <%= cl_image_tag player.picture, height: 100, width: 100, crop: :thumb, gravity: :face %>
<% else %>
  <%= image_tag 'avatar.png', class: 'avatar-large' %>
<% end %>
<p><%= player.name %></p>
<p class="text-transparent"><%= player.life_points %> <i class="fas fa-heart"></i></p>
