<div class="container">
  <h1>Modify your player:</h1>
  <div class="width-500">
    <%= simple_form_for @player, url: player_path(@player) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
