a.button-start {
  background-color: $orange;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 24px;
  color: $gray;
  font-family: 'Eczar', serif;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.btn-submit {
  background-color: $yellow;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 24px;
  color: $gray;
  font-family: 'Eczar', serif;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

.btn-submit-small {
  background-color: $yellow;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 16px;
  color: $gray;
  font-family: 'Eczar', serif;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: $gray;
  }
}

.btn-submit-small-navbar {
  margin: 0 40px;
  background-color: $yellow;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  color: $gray;
  font-family: 'Eczar', serif;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    color: $gray;
  }
}
