.battle-navbar {
  padding: 10px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

img.logo {
  width: 40px;
  height: 40px;
}

.navbar-right-content {
  display: flex;
  p {
    margin: 0 20px;
  }
  a {
    color: rgba(255,255,255,0.3);
    font-family: 'Eczar', serif;
    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,1);
    }
  }
  a.cta-navbar {
    color: $gray
  }
}
